body{
  background-color: rgba(0, 162, 255, 0.274);
  color: rgb(51, 4, 95);
  margin:0px;
}
a{
  text-decoration:none;
  color:black;
}
a:hover{
  color:#46FD05;
}
a:active{
  color:aqua;
}
div{
  background-color: purple;
  text-align:center;
}
.otsikko{
  background-color: orange;
  margin:0%;
}
.alaotsikko{
  background-color: red;
  color:black;
}
#etusivunnappula{
  width:30%;
  background-color: rgba(0, 162, 255, 0.274);
  margin: auto;
}
#projektisivu{
  background-color: blue;
  color:purple;
}
.boksit{
  list-style-type:none;
}
.koodausDiv{
  background-color: wheat;
}
.ilmoitus{
  background-color: wheat;
}